@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
		width: 100%;
		height: 100vh;
		background-image:url(BACK.jpg);
		background-repeat: no-repeat;
		background-size: cover;
}
nav{
	width: 100%;
	height: 8vh;
	background: yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lobster', cursive;
	
	
}
nav a.home:hover{
			color: red;
				
			
}
nav a.pay:hover{
			color: red;
}
nav a.gal:hover{
			color: red;
				
			
}
nav a.con:hover{
			color: red;
}
nav .logo{
	margin-left:10;
	       width:7%;
		   align-items: center;
		    border-radius: 25px;
		   background-position:center;
		  border-style: dotted;
		  border-bottom-color:#00ff00 ;
		  border-left-style:double;
		  border-left-width: thick;
		  border-right-style:double;
		  border-right-width: thick;
		  border-top-style: inherit;
		  border-left-color:#33ffff ;
		  border-right-color:#99cc33 ;
		  border-bottom-style: inherit;
		  
}
nav .manu{
	    width: 30%;
		display: flex;
		justify-content: space-around;
}
nav .manu a{
	width: 25%;
	text-decoration: none;
	font-size: 19;
	
}
main{
	 width: ;
	 height:88vh ;
	 display: flex;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
	 color:#00ffff;
	 
	
}
section h3{
			font-size: 35px;
			font-weight:600;
			letter-spacing:5px;
			text-shadow: 1px 1px 2px white;
}
section h1{
			margin: 30px 0px 20px 0px;
			font-size: 48px;
			font-weight:900;
			letter-spacing:10px;
			text-shadow: 5px 5px 4px white;
			text-transform:uppercase;
}
section a{
			padding:12px 30px;
			border-radius: 4px;
			outline:none;
			text-transform:uppercase;
			font-size:13px;
			font-weight:600;
			text-decoration: none;
			letter-spacing:2px;
			color:#cccccc;
}
section .btnone{
	margin:0;
	  border-style: dotted;
		  border-bottom-color:#00ff00 ;
		  border-left-style:double;
		  border-left-width: thick;
		  border-right-style:double;
		  border-right-width: thick;
		  border-top-style: inherit;
		  border-left-color:#33ffff ;
		  border-right-color:#99cc33 ;
		  border-bottom-style: inherit;
		   border-radius: 25px;
		   font-size: 12px;
	font-weight:bold;
	

	
}
section .btntwo{
	  border-style: dotted;
		  border-bottom-color:#00ff00 ;
		  border-left-style:double;
		  border-left-width: thick;
		  border-right-style:double;
		  border-right-width: thick;
		  border-top-style: inherit;
		  border-left-color:#33ffff ;
		  border-right-color:#99cc33 ;
		  border-bottom-style: inherit;
		   border-radius: 25px;
	
	
}



